extends index
block content
  #experience
    .row
      .col-sm-7
        h3 Experience and Certifications
        p Recognized as an expert in the areas of signature authenticity; forgery identification; disguised writings; indented writings; typewriter identification; anonymous letters; graffiti, age of documents and/or writings; alterations to documents and obliterated writings.
        p Certified by the Board of Forensic Document Examiners in 2003. BFDE.org  BFDE offered the first certification test for Forensic Document Examiners to be designed and validated by a professional testing company. I participated on the committee to assist in the development of this test. Continuing education credits are required to maintain BFDE certification. The BFDE Certification Program is accredited by the Forensic Specialties Accreditation Board (FSAB) THEFSAB.org.
        p Certified by the  Association of Forensic Document Examiners in 1991. (AFDE.org). Certification included passing stringent written and oral examination; Preparation of a test case and testimony in a mock trial before a test jury; demonstrating mastery of laboratory systems; review of case files by a panel of attorneys and judges; and proof of professional experience. Continuing education credits are required to maintain AFDE certification. Since 1975 I have completed more than 500 hours of continuing education training.
      .col-sm-5
        include includes/sidebar