doctype html
html
  head
    title Steven Slyter - Forensic Document Examiner
    link(href="vendor/bootstrap-3.2.0/css/bootstrap.css", type='text/css', rel='stylesheet')
    link(href="css/styles.css", type='text/css', rel='stylesheet')
  body
    .container
      .header-wrapper
        .row
          .col-md-12
            include includes/nav
        .row
          .col-md-12
            include includes/header
      .row
        .content
          .col-sm-7
            block content
              include main
          .col-sm-5
            include includes/sidebar
