extends index
block content
  #publications
    h3 Publications
    .publications
      h4 Books
      .publication
        .row
          .col-xs-3
            .image
              img(src="img/droppedImage.png")
          .col-xs-9
            .title Forensic Signature Examination
            .byline by Steven A. Slyter
            .line Charles C. Thomas Publishing, Springfield, IL. 1995
      .publication
        .row
          .col-xs-3
            .image
              img(src="img/droppedImage_1.png")
          .col-xs-9
            .title The Effects of Alterations to Documents
            .byline by Steven A. Slyter
            .line
              div Am Jur Proof of Facts,
              div Volume 29, Third Series
              div Lawyers Cooperative Publishing, Rochester, NY. 1995
      h4 Articles
      .publication
        p A Simplified L. I. D. Design (AFDE Volume V, Fall 1992),
        p Copy Photography for Document Examiners (AFDE Volume II, Fall 1988),
        p AFDE’s Apprenticeship Program (AFDE Volume V, Fall 1992),
        p These three are articles by Steven A. Slyter were published in The Journal of Forensic Document Examination, Association of Forensic Document Examiners. (This Journal is available on West Law.)
        p
          span Looking Beyond the Visible
          br
          span by Steven A. Slyter published by Studio Photography Magazine. (July 1988)
        p
          span Working with Questioned Document Examiners
          br
          span by Steven A. Slyter published by Studio Photography Magazine. August 1987)
        p For three and one-half years (in the early 1990’s) I was Technical Editor of The Journal of Forensic Document Examination. I participated in the review and editing of the articles published at that time.

      h4 Cases In the News
      .publication
        p
          span "The Invisible Killers"
          br
          span The Discovery Channel
          br
          span 2001 season
          br
          span The story of a fabricated suicide note
      .publication
        p
          span Double Jeopardy
          br
          span By Bob Hill, published by Morrow (1995)
          br
          span Read about Steve Slyter's success in finding crucial evidence missed by the FBI lab.
