.row
  .col-md-12
    nav
      a(href="index.html") Home
      span &nbsp;|&nbsp;
      a(href="experience.html") Experience
      span &nbsp;|&nbsp;
      a(href="publications.html") Publications
      span &nbsp;|&nbsp;
      a(href="faq.html") FAQ
      span &nbsp;|&nbsp;
      a(href="#") Contact
      span &nbsp;|&nbsp;