nav
  a(href="#") Home
  span &nbsp;|&nbsp;
  a(href="#") Experience
  span &nbsp;|&nbsp;
  a(href="#") Publications
  span &nbsp;|&nbsp;
  a(href="#") FAQ
  span &nbsp;|&nbsp;
  a(href="#") Contact
  span &nbsp;|&nbsp;