.row
  .col-md-12
    nav
      a(href="index.html") Home
      span &nbsp;|&nbsp;
      a(href="#") Experience
      span &nbsp;|&nbsp;
      a(href="#") Publications
      span &nbsp;|&nbsp;
      a(href="faq.html") FAQ
      span &nbsp;|&nbsp;
      a(href="#") Contact
      span &nbsp;|&nbsp;