#sidebar
  .credentials
    h3 Credentials
    ul
      li 40 years full-time, private practice
      li Certifications:
        ul
          li: a(href="http://www.bfde.org")
              | Board of Forensic Document Examiners
          li: a(href="http://www.afde.org")
            |Association of Forensic Document Examiners
      li Experienced witness in both state and federal courts
      li Worked with both plaintiff and defense counsel
      li Author and editor
      li Lecturer
      li Skilled in non-destructive laboratory techniques